
label for="sfname" First Name:
input#sfname type="text" name="song[sfname]" value="#{@song.sfname}"
label for="slname" Last Name:
input#slname type="text" name="song[slname]" value="#{@song.slname}"
label for="major" Major:
input#major type="text" name="song[major]" value="#{@song.major}"
label for="gpa" Students GPA:
input#gpa type="number" step="any" name="song[gpa]" value="#{@song.gpa}"
input type="submit" value="Save Student"